<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>email form</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <h1> forgot your password? </h1>
        <p> enter your email below ,  we'll email instructions for setting a new one </p>
        {{form.as_p}}
        <input type="submit" value="send email ">

    </form>
    
</body>
</html>